In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
get_ipython().magic('pylab inline')
#get_ipython().magic('matplotlib auto')

pylab.rcParams['figure.figsize'] = (12, 8)
import sys

Populating the interactive namespace from numpy and matplotlib

In [ ]:
#===randomly generate indexes for ~ 20 % of data 

#from random import sample
#n_sample = int(13647309*0.2)
#indexes = sample(range(13647309), k=n_sample)
#with open('indexes_20_percent.txt', 'w') as f:
#     for s in indexes:
#        f.write(str(s) + '\n')

In [ ]:
#===generate 20 % training data based on randomly generated indexes

#f_ind = open('indexes_20_percent.txt','r')
#f = open('input/train_ver2.csv','r')

#row_number = []
#with open('indexes_20_percent.txt','r') as f_ind:
#    for line in f_ind:
#       row_number.append(int(line.strip()))

#row_number.sort()
#print(type(row_number))

#ofile  = open('input/train_subset.csv', 'wb')

#lines = f.readlines()
#num_lines = len(lines)

##randomly generated indexes has header line
##ofile.write(lines[0])
#for i in row_number:
#    ofile.write(lines[i])

#f.close()
#f_ind.close()
#ofile.close()

#===write a csv with English header (easy to understand)
df = pd.read_csv('input/train_subset.csv',encoding = 'ISO-8859-1') 
df = df.rename(index=str, columns={'fecha_dato': 'date', 'ncodpers': 'id','ind_empleado':'employee_index',
'pais_residencia':'country_residence',
'sexo':'sex',
'fecha_alta':'first_join_date',
'ind_nuevo':'new_customer_index',
'antiguedad':'seniority',
'indrel':'primary',
'ult_fec_cli_1t':'last_date_primary',
'indrel_1mes':'customer_type',
'tiprel_1mes':'customer_relation',
'indresi':'residence_idx',
'indext':'foreigner_idx',
'conyuemp':'spouse_idx',
'canal_entrada':'channel',
'indfall':'deceased',
'tipodom':'address',
'cod_prov':'province_code',
'nomprov':'province_name',
'ind_actividad_cliente':'activity_idx',
'renta':'gross_income',
'segmento':'segment',
'ind_ahor_fin_ult1':'saving_account',
'ind_aval_fin_ult1':'guarantees',
'ind_cco_fin_ult1':'current_account',
'ind_cder_fin_ult1':'derivada_account',
'ind_cno_fin_ult1':'payroll_account',
'ind_ctju_fin_ult1':'junior_account',
'ind_ctma_fin_ult1':'mas_particular_account',
'ind_ctop_fin_ult1':'particular_account',
'ind_ctpp_fin_ult1':'particular_plus_account',
'ind_deco_fin_ult1':'short-term_deposits',
'ind_deme_fin_ult1':'medium-term_deposits',
'ind_dela_fin_ult1':'long-term_deposits',
'ind_ecue_fin_ult1':'e-account',
'ind_fond_fin_ult1':'funds',
'ind_hip_fin_ult1':'mortgage',
'ind_plan_fin_ult1':'pensions',
'ind_pres_fin_ult1':'loans',
'ind_reca_fin_ult1':'taxes',
'ind_tjcr_fin_ult1':'credit_card',
'ind_valo_fin_ult1':'securities',
'ind_viv_fin_ult1':'home_account',
'ind_nomina_ult1':'payroll',
'ind_nom_pens_ult1':'pensions_1',
'ind_recibo_ult1':'direct_debit'})
df.to_csv('input/train_20percent.csv',index=False)

In [2]:
#Option 1: df.isnull().any().any() - This returns a boolean value
#If you make it df.isnull().any(), you can find just the columns that have NaN values:
#df.isnull().any()
df = pd.read_csv('input/train_20percent.csv',encoding = 'ISO-8859-1')
df.isnull().sum()

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

date                             0
id                               0
employee_index                5454
country_residence             5454
sex                           5470
age                              0
first_join_date               5454
new_customer_index            5454
seniority                        0
primary                       5454
last_date_primary          2724464
customer_type                29573
customer_relation            29573
residence_idx                 5454
foreigner_idx                 5454
spouse_idx                 2729088
channel                      36790
deceased                      5454
address                       5455
province_code                18657
province_name                18657
activity_idx                  5454
gross_income                559126
segment                      37473
saving_account                   0
guarantees                       0
current_account                  0
derivada_account                 0
payroll_account                  0
junior_account                   0
mas_particular_account           0
particular_account               0
particular_plus_account          0
short-term_deposits              0
medium-term_deposits             0
long-term_deposits               0
e-account                        0
funds                            0
mortgage                         0
pensions                         0
loans                            0
taxes                            0
credit_card                      0
securities                       0
home_account                     0
payroll                       3240
pensions_1                    3240
direct_debit                     0
dtype: int64

In [3]:
df = df.drop(["last_date_primary", "spouse_idx"], axis=1)

In [9]:
feature_cols =['date', 'id', 'employee_index', 'country_residence', 'sex', 'age',
       'first_join_date', 'new_customer_index', 'seniority', 'primary',
       'customer_type', 'customer_relation', 'residence_idx', 'foreigner_idx',
       'channel', 'deceased', 'address', 'province_code', 'province_name',
       'activity_idx', 'gross_income', 'segment']
for ind, feature_col in enumerate(feature_cols):
    uniq_values = df[feature_col].unique()
    print(feature_col,uniq_values,len(uniq_values))
    #uniq_values = list(df[feature_col].unique())
    #print("uniq values for "+feature_col+": "+uniq_values)
    #print("number of uniq values for "+feature_col+": "+len(uniq_values))

date ['2015-01-28' '2015-02-28' '2015-03-28' '2015-04-28' '2015-05-28'
 '2015-06-28' '2015-07-28' '2015-08-28' '2015-09-28' '2015-10-28'
 '2015-11-28' '2015-12-28' '2016-01-28' '2016-02-28' '2016-03-28'
 '2016-04-28' '2016-05-28'] 17
id [1375586 1050614 1050617 ..., 1166623 1166617 1166842] 887294
employee_index ['N' nan 'A' 'F' 'B' 'S'] 6
country_residence ['ES' nan 'CL' 'FR' 'CH' 'GB' 'DE' 'BR' 'IT' 'FI' 'SE' 'CN' 'MX' 'CO' 'EC'
 'US' 'AD' 'CZ' 'MA' 'RO' 'PE' 'IL' 'RU' 'GT' 'AR' 'UA' 'NL' 'PL' 'NO' 'BG'
 'PY' 'HN' 'SV' 'PA' 'BE' 'IE' 'PT' 'SG' 'SK' 'TR' 'AU' 'VE' 'GE' 'UY' 'CU'
 'BO' 'PR' 'KE' 'JP' 'QA' 'TG' 'IN' 'LU' 'AT' 'AE' 'KW' 'DK' 'CA' 'MM' 'NG'
 'KH' 'EG' 'GN' 'GW' 'GR' 'CG' 'DO' 'MK' 'TH' 'VN' 'GQ' 'LT' 'EE' 'PK' 'GM'
 'BZ' 'KR' 'CM' 'LY' 'IS' 'GA' 'CR' 'DZ' 'CI' 'LB' 'BY' 'HR' 'BA' 'HK' 'TW'
 'MD' 'MR' 'ZA' 'RS' 'SL' 'HU' 'SN' 'AO' 'ML' 'NI' 'AL' 'NZ' 'GI' 'ET' 'SA'
 'TN' 'MZ' 'ZW' 'PH' 'JM' 'GH' 'CF' 'KZ' 'OM' 'CD' 'LV' 'DJ'] 117
sex ['H' 'V' nan] 3
age [' 35' ' 23' ' 24' ' 28' ' 22' ' 25' ' 30' ' 44' ' 27' ' 26' ' 36' ' 31'
 ' 33' ' 32' ' 37' ' 42' ' 57' ' 12' '  6' ' 77' ' 29' ' 54' ' 52' ' 59'
 ' 46' ' 39' ' 43' ' 51' ' 41' ' 16' ' 48' ' 40' ' 38' ' 53' ' NA' ' 73'
 ' 47' ' 34' ' 17' ' 96' ' 49' ' 79' '  8' ' 11' ' 86' ' 58' '  9' ' 63'
 ' 64' ' 50' ' 62' ' 20' ' 10' ' 15' ' 18' ' 67' ' 56' ' 60' ' 55' ' 21'
 ' 61' ' 82' ' 65' ' 45' ' 78' ' 75' ' 72' ' 66' ' 69' ' 91' ' 87' ' 92'
 ' 71' ' 84' ' 70' '  7' ' 94' '  5' ' 83' ' 98' ' 68' ' 14' ' 76' ' 81'
 ' 88' ' 85' ' 74' ' 99' ' 13' ' 89' ' 80' ' 19' '  4' ' 95' ' 90' '106'
 ' 93' ' 97' '103' '  2' '  3' '104' '102' '105' '107' '116' '101' '100'
 '108' '115' '111' '110' '109' '113' '112' 70 40 62 33 44 94 67 59 51 48 37
 41 68 64 69 42 38 45 53 47 31 56 34 36 95 39 65 83 86 82 46 49 54 43 22 61
 55 35 72 57 74 71 58 13 81 63 85 60 30 66 78 52 50 88 15 84 91 96 19 23
 101 24 18 76 77 73 87 89 75 32 26 16 79 17 93 21 28 27 80 99 29 97 12 90
 14 20 98 92 112 11 106 105 103 25 100 8 9 7 10 102 6 104 108 107 110 109
 111 4 5 3 2 113 115 116 127 114 163 117] 233
first_join_date ['2015-01-12' '2012-08-10' '2012-08-16' ..., '2016-05-01' '2012-06-02'
 '2013-06-09'] 6743
new_customer_index [  0.  nan   1.] 3
seniority ['      6' '     35' '     34' '     33' '     NA' '     13' '     29'
 '     10' '     25' '     12' '     21' '      4' '     18' '     32'
 '     20' '      8' '     27' '    157' '     24' '      9' '     17'
 '     36' '     40' '     31' '     38' '     37' '     28' '     39'
 '     11' '      7' '     15' '     16' '     30' '     23' '     19'
 '      5' '     22' '     26' '     14' '     47' '     46' '     45'
 '     57' '     52' '     58' '     56' '     55' '     53' '     59'
 '     51' '     42' '     43' '     54' '     49' '     50' '      0'
 '     44' '     41' '     62' '     61' '     63' '     60' '     48'
 '      3' '      1' '      2' '    165' '    164' '    128' '    118'
 '     72' '    107' '    102' '    135' '    159' '    140' '    162'
 '     66' '    117' '    154' '     80' '    161' '     78' '    163'
 '    144' '    158' '     85' '    116' '    137' '    151' '    160'
 '    115' '    112' '    132' '     79' '    142' '    166' '    121'
 '    149' '    138' '    169' '     84' '     65' '     94' '    125'
 '    134' '    127' '     77' '    139' '     64' '    156' '    136'
 '    123' '    150' '     81' '    129' '     96' '    101' '    113'
 '    217' '    143' '    111' '    153' '    167' '     76' '     92'
 '    209' '    216' '     83' '    109' '    168' '    146' '     89'
 '     88' '    141' '    110' '    133' '    120' '     93' '    148'
 '    145' '     82' '    199' '    147' '    100' '    119' '    122'
 '    106' '     99' '    130' '    178' '     95' '     91' '    114'
 '    103' '    155' '    188' '    152' '     67' '    185' '     74'
 '    124' '    195' '     73' '    126' '     97' '     98' '    104'
 '     87' '     86' '    108' '    180' '    170' '    171' '    172'
 '    176' '    214' '    105' '    131' '    174' '    173' '     75'
 '    177' '    205' '    201' '    227' '    193' '    175' '    184'
 '    183' '    179' '     69' '     68' '     70' '     90' '     71'
 '    204' '    187' '    233' '    235' '    189' '    192' '    222'
 '    208' '    196' '    211' '    202' '    206' '    210' '    198'
 '    212' '    200' '    228' '    223' '    207' '    186' '    197'
 '    194' '    181' '    190' '    213' '    220' '    218' '    203'
 '    215' '    225' '    224' '    221' '    229' '    182' '    226'
 '    191' '    231' '    232' '    230' '    234' '    219' '    237'
 '    244' '    242' '    241' '    239' '    238' '    240' '    236'
 '    243' '    246' '    245' '-999999' 134 55 133 116 108 92 127 81 125
 164 123 141 4 117 132 130 93 106 100 47 119 131 14 52 128 120 18 138 1 95
 129 118 50 28 63 124 114 7 97 126 82 13 111 96 79 43 51 65 77 12 99 104 89
 26 58 69 122 110 21 146 11 66 2 22 67 105 24 115 107 121 16 112 101 61 45
 83 44 88 36 90 38 40 80 98 86 169 3 160 102 10 35 113 19 62 103 57 78 94
 31 68 34 64 9 54 76 87 49 6 32 5 75 33 20 84 85 59 46 39 56 60 37 53 0 8
 73 109 27 15 30 17 70 48 41 25 42 23 74 153 72 29 186 91 71 171 201 184
 185 163 175 177 180 182 150 179 139 193 178 174 156 183 157 173 151 147
 159 165 145 149 181 144 152 172 161 234 207 166 189 199 162 154 211 176
 -999999 155 135 136 221 142 167 170 198 168 143 140 231 158 217 137 197
 194 192 191 190 208 187 203 188 202 195 226 148 238 225 205 235 200 210
 212 214 206 224 220 223 241 204 222 213 219 218 216 209 215 196 230 229
 232 237 236 233 228 242 240 244 243 246 245 239 227 247 248 249 250 251
 252 253 254 255 256] 507
primary [  1.  99.  nan] 3
customer_type [1.0 nan 3.0 2.0 '1.0' '1' '3.0' '3' 'P' '2.0' '2' '4.0' 4.0 '4'] 14
customer_relation ['A' 'I' nan 'P' 'R' 'N'] 6
residence_idx ['S' nan 'N'] 3
foreigner_idx ['N' 'S' nan] 3
channel ['KHL' 'KHE' 'KFC' 'KAT' 'KHD' 'KFA' nan 'KHC' 'KAZ' 'RED' 'KDH' 'KAD'
 'KHK' 'KEH' 'KGC' 'KFD' 'KFK' 'KFG' 'KAR' 'KAB' 'KFL' 'KAE' 'KAA' 'KAH'
 'KFJ' 'KCC' 'KGV' 'KAQ' 'KAI' 'KAG' 'KFP' 'KAP' 'KFS' 'KGY' 'KAJ' 'KFF'
 'KGX' 'KFU' 'KFN' 'KDE' 'KHF' 'KAK' 'KHM' 'KBG' 'KHN' 'KAY' 'KDR' 'KDY'
 'KAC' 'KES' '013' 'KDA' 'KDO' 'KCG' 'KBQ' 'KBZ' 'KDT' 'KCK' 'KBO' '007'
 'KBU' 'KEU' 'KCL' 'KCA' 'KAW' 'KEC' 'KCB' 'KDU' 'KDQ' 'KAF' 'KCH' 'KBL'
 'KCD' 'KEA' 'KAS' 'KDV' 'KAL' 'KBH' 'KCM' 'KFT' 'KEI' 'KEV' 'KDZ' 'KCS'
 'KEY' 'KCN' 'KCI' 'KDX' 'KBV' 'KBF' 'KDP' 'KBR' 'KCO' 'KDD' 'KBX' 'KCU'
 'KBS' 'KBW' 'KCF' 'KBD' 'KBE' 'KDS' 'KEB' 'KDC' 'KDF' 'KDG' 'KAM' 'KCE'
 'KBY' 'KCP' 'KEF' 'KEZ' 'KDM' '004' 'KDW' 'KBJ' 'KEW' 'KEG' 'KEJ' 'KBB'
 'KEL' 'KFH' 'KFM' 'KEQ' 'KAU' 'KED' 'KAO' 'KEN' 'KEO' 'KGW' 'KFI' 'KFE'
 'KFR' 'KBM' 'KAN' 'KCR' 'KCQ' 'KDN' 'KEK' 'K00' 'KCJ' 'KEE' 'KAV' 'KFV'
 'KBN' 'KCV' 'KHO' 'KGN' 'KFB' 'KEM' 'KCX' 'KBP' 'KHA' 'KCT' 'KHQ' 'KDB'
 'KDL' '025' 'KGU' 'KHP' 'KDI' 'KHS'] 162
deceased ['N' nan 'S'] 3
address [  1.  nan] 2
province_code [ 29.  50.  20.  13.   9.   5.   3.  39.   7.  28.  44.  27.  23.  45.   8.
  10.  15.  46.  37.  11.  49.   6.   2.  17.  34.  16.  36.  21.  31.  14.
  25.  33.  41.  47.  19.  48.  30.  24.  43.  26.  40.  nan  32.  12.  22.
  38.  18.  35.  51.  42.   1.   4.  52.] 53
province_name ['MALAGA' 'ZARAGOZA' 'GIPUZKOA' 'CIUDAD REAL' 'BURGOS' 'AVILA' 'ALICANTE'
 'CANTABRIA' 'BALEARS, ILLES' 'MADRID' 'TERUEL' 'LUGO' 'JAEN' 'TOLEDO'
 'BARCELONA' 'CACERES' 'CORUÃ?A, A' 'VALENCIA' 'SALAMANCA' 'CADIZ' 'ZAMORA'
 'BADAJOZ' 'ALBACETE' 'GIRONA' 'PALENCIA' 'CUENCA' 'PONTEVEDRA' 'HUELVA'
 'NAVARRA' 'CORDOBA' 'LERIDA' 'ASTURIAS' 'SEVILLA' 'VALLADOLID'
 'GUADALAJARA' 'BIZKAIA' 'MURCIA' 'LEON' 'TARRAGONA' 'RIOJA, LA' 'SEGOVIA'
 nan 'OURENSE' 'CASTELLON' 'HUESCA' 'SANTA CRUZ DE TENERIFE' 'GRANADA'
 'PALMAS, LAS' 'CEUTA' 'SORIA' 'ALAVA' 'ALMERIA' 'MELILLA'] 53
activity_idx [  1.   0.  nan] 3
gross_income [  87218.1         nan  113316.66 ...,  205435.11   61602.45  341512.35] 503483
segment ['02 - PARTICULARES' '03 - UNIVERSITARIO' '01 - TOP' nan] 4

In [ ]:
df['age']   = pd.to_numeric(df['age'], errors='coerce')
with sns.plotting_context('notebook',font_scale=1.5):
    sns.set_style('whitegrid')
    sns.distplot(df['age'].dropna(),
                 bins=50,
                 kde=False)

In [ ]:
df.isnull().sum()

In [ ]:
#df.loc[df.segment.notnull(),:]
#print column of mixed type
for i in [5,8,11,15]: 
    print(df.columns[i])

for field in ['age','seniority']:#,'customer_relation','deceased']:
    df[field]   = pd.to_numeric(df[field], errors='coerce')
    with sns.plotting_context('notebook',font_scale=1.5):
        sns.set_style('whitegrid')
        sns.distplot(df[df[field]>0].dropna(),
                     bins=50,
                     kde=False)
        sns.plt.show()

In [ ]:
df.isnull().sum()

print(len(df))
small = str(0)
big = str(25000)
df = df.loc[df.renta.notnull(),:]


#print(len(df))
df = df[(df['renta'] > 0) & (df['renta'] < 25000)]

#sns.distplot(df['age'].dropna(),bins=100,kde=False)
sns.distplot(df['age'],kde=False)
#plt.xscale('log')
#sns.plt.title('Age Distribution for Gross Income between ' + small + ' and ' + big)
#sns.plt.title('Age Distribution for Gross Income between')

#plt.xlabel('Age')
#plt.ylabel('Count')
plt.show()
#plt.savefig('plots/age_'+small+'_'+big +'.png')

In [ ]:
df['seniority']   = pd.to_numeric(df['seniority'], errors='coerce')
###train['antiguedad'] = train['antiguedad'].replace(to_replace=['     NA'], value=np.nan)
with sns.plotting_context('notebook',font_scale=1.5):
    sns.set_style('whitegrid')
    sns.distplot(df[df['seniority']>0]['seniority'].dropna(),
                 bins=50,
                 kde=False)


with sns.plotting_context('notebook',font_scale=1.5):
    sns.set_style('whitegrid')
    sns.distplot(df['gross_income'][(df['gross_income']>=0)&(df['gross_income']<1e6)].dropna(),
                 bins=100,
                 kde=False)
    sns.plt.title('Gross income distribution for income less than 1M')
    sns.plt.ylabel('count')

In [ ]:

plt.subplot(1, 2, 1)
sns.distplot(df['gross_income'][(df['gross_income']>=0)&(df['gross_income']<1e6)].dropna(),
                 bins=100,
                 kde=False)
plt.title('Gross income distribution for income less than 1M')
plt.ylabel('count')
plt.subplot(1, 2, 2)
sns.distplot(df['gross_income'][(df['gross_income']>=0)&(df['gross_income']>1e6)].dropna(),
                 bins=100,
                 kde=False)
plt.title('Gross income distribution for income greater than 1M')
plt.ylabel('count')

plt.show()

In [ ]:
with sns.plotting_context('notebook',font_scale=1.5):
    sns.set_style('whitegrid')
    sns.distplot(df['gross_income'][df['gross_income']>1e6].dropna(),
                 bins=50,
                 kde=False)
    sns.plt.title('Very rich people gross income distribution')
    sns.plt.ylabel('count')

In [ ]:
#study accounts very rich people have
header = list(df)
print(header[22:])
#df_prod = df[header[24:]]
df_sum = df[header[22:]][df['gross_income']>1e6].sum()
print(df_sum)
total_count = df_sum.tolist()
print(len(total_count))
bar_labels = [i for i in header[22:]]

total_count_dict = {'product': bar_labels,
                    'total' : total_count}

df_bar = pd.DataFrame.from_dict(total_count_dict)
df_bar = df_bar[df_bar['total']>0]
ax = sns.barplot(x="total", y="product", data=df_bar)

#study accounts for people with gross income < 1M
header = list(df)
print(header[22:])
df_sum = df[header[22:]][df['gross_income']<1e6].sum()
#print(df_sum)
totals = (df_sum.sum())

total_count = df_sum.tolist()
total_count = [total_count[i]/totals*100 for i in range(len(total_count))]
print(total_count)
bar_labels = [i for i in header[22:]]

total_count_dict = {'product': bar_labels,
                    'total' : total_count}

df_bar = pd.DataFrame.from_dict(total_count_dict)
#df_bar = df_bar[(df_bar['total']>500)&(df_bar['total']<1400000)]

ax = sns.barplot(x="total", y="product", data=df_bar).set_xlim(0,10)
sns.plt.title('Percentage of product for gross income < 1 M')

sns.plt.xlabel('Percentage (%)')

#study accounts very rich people have
header = list(df)
print(header[22:])
#df_prod = df[header[24:]]
df_sum = df[header[22:]][df['gross_income']>1e6].sum()
print(df_sum)
total_count = df_sum.tolist()
print(len(total_count))
bar_labels = [i for i in header[22:]]

total_count_dict = {'product': bar_labels,
                    'total' : total_count}

df_bar = pd.DataFrame.from_dict(total_count_dict)
df_bar = df_bar[(df_bar['total']>0)&(df_bar['total']<3000)]
ax = sns.barplot(x="total", y="product", data=df_bar)

In [ ]:
#===calculate total counts of product
def product_sum(df_sum):
    totals = (df_sum.sum())

    total_count = df_sum.tolist()
    total_count = [total_count[i]/totals*100 for i in range(len(total_count))]
    #print(total_count)
    bar_labels = [i for i in header[22:]]

    total_count_dict = {'product': bar_labels,
                        'total' : total_count}

    df_bar = pd.DataFrame.from_dict(total_count_dict)
    return df_bar

In [ ]:
#comparing accounts for people with gross income < 1M and > 1M
header = list(df)
print(header[22:])
df_sum1 = df[header[22:]][df['gross_income']<1e6].sum()
df_sum2 = df[header[22:]][df['gross_income']>1e6].sum()

df_bar1 = product_sum(df_sum1)
df_bar2 = product_sum(df_sum2)

#print(df_sum)

#ax = sns.barplot(x="total", y="product", data=df_bar).set_xlim(0,12)
#sns.plt.title('Percentage of product for gross income > 1 M')
#sns.plt.xlabel('Percentage (%)')

f, (ax1, ax2) = plt.subplots(1,2)
sns.barplot(x="total", y="product", data=df_bar1, ax= ax1).set_xlim(0,12)
ax1.set_title('Percentage of product for gross income < 1 M')
ax1.set_xlabel('Percentage (%)')

sns.barplot(x="total", y="product", data=df_bar2, ax= ax2).set_xlim(0,12) 
ax2.set_title('Percentage of product for gross income > 1 M')
ax2.set_xlabel('Percentage (%)')

In [ ]:
with sns.plotting_context('notebook',font_scale=1.5):
    sns.set_style('whitegrid')
    sns.distplot(df['gross_income'][df['gross_income']>1e6].dropna(),
                 bins=50,
                 kde=False)
    sns.plt.ylabel('count')